langchain # A framework for developing applications powered by language models.
ipykernel
python-dotenv #to load environment variables from .env files
langchain_community # Community-contributed modules for Langchain.
pypdf # For handling PDF files.
bs4 # For parsing HTML and XML documents.
arxiv # For accessing and processing documents from arXiv.
pymupdf # For reading and processing PDF files.
wikipedia # For loading documents from Wikipedia.
langchain-text-splitters # For splitting text into manageable chunks.
